<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="bookwormDB" connectionString="Data Source=(localdb)\Projects;Initial Catalog=bookworm.com;Integrated Security=True;Pooling=False"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>

    <services>
      <service name="BookWorm_Test_1.Service1" behaviorConfiguration="ServiceBehaviour">
        <!-- Service Endpoints -->
        <endpoint address="" binding="webHttpBinding"
        behaviorConfiguration="webBehavior" contract="BookWorm_Test_1.IProductService">
        </endpoint>
      </service>
    </services>

    <behaviors>



      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>

      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>

    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>-->
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <!--<connectionStrings>
    <add name="DBCS" connectionString="Data Source=(localdb)\Projects;AttachDbFilename=C:\Users\vita2\AppData\Local\Microsoft\VisualStudio\SSDT\Computer_Seekho.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
</configuration>
