<div class="row">

    <!-- <div class="col-sm-1">

    </div> -->





    <div class="col-sm-12">



        <div class="row">
            <div class="col-sm-3">

                <div class="card" style="width:200px">
                    <img class="card-img-top m-auto" src="assets/audiobook1.png" alt="Card image" style="width:50%">
                    <div class="card-body">
                        <h6>The Girl In Room 105</h6>
                        <h6 style="color: darkcyan">Price : ?60</h6>
                        <!-- <h5 class="card-title">The girl in room_105</h5> -->
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <button type="button" a href="#" class="btn btn-secondary  btn-sm" style="margin-right: 10%">Add
                            to Cart</button>
                        <button type="button" a href="#" class="btn btn-success  btn-sm">Rent</button>
                    </div>

                </div>

            </div>
            <div class="col-sm-3">

                <div class="card" style="width:200px">
                    <img class="card-img-top m-auto" src="assets/audiobook2.jpg" alt="Card image" style="width:50%">
                    <div class="card-body">
                        <h6>One Indian Girl</h6>
                        <h6 style="color: darkcyan">Price : ?70</h6>
                        <!-- <h5 class="card-title">One Indian Girl</h5> -->
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <button type="button" a href="#" class="btn btn-secondary  btn-sm" style="margin-right: 10%">Add
                            to Cart</button>
                        <button type="button" a href="#" class="btn btn-success  btn-sm">Rent</button>
                    </div>

                </div>

            </div>

            <div class="col-sm-3">

                <div class="card" style="width:200px">
                    <img class="card-img-top m-auto" src="assets/audiobook3.jpg" alt="Card image" style="width:50%">
                    <div class="card-body">
                        <h6>2 States</h6>
                        <h6 style="color: darkcyan">Price : ?40</h6>
                        <!-- <h5 class="card-title">2 states Love_Story</h5> -->
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <button type="button" a href="#" class="btn btn-secondary  btn-sm" style="margin-right: 10%">Add
                            to Cart</button>
                        <button type="button" a href="#" class="btn btn-success  btn-sm">Rent</button>


                    </div>
                </div>
            </div>



            <div class="col-sm-3">

                <div class="card" style="width:200px">
                    <img class="card-img-top m-auto" src="assets/audiobook2.jpg" alt="Card image" style="width:50%">
                    <div class="card-body">
                        <h6>One Indian Girl</h6>
                        <h6 style="color: darkcyan">Price : ?40</h6>
                        <!-- <h5 class="card-title">2 states Love_Story</h5> -->
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <button type="button" a href="#" class="btn btn-secondary  btn-sm" style="margin-right: 10%">Add
                            to Cart</button>
                        <button type="button" a href="#" class="btn btn-success  btn-sm">Rent</button>


                    </div>
                </div>
            </div>



        </div>

    </div>