<div class="row mx-md-n5">
        <div class="col px-md-12">
                <div class="p-3 border bg-light">

                        <div class="container-fluid">
                                <div class="row">
                                        <div class="col-sm-2">

                                                <div class="list-group">
                                                        <a href="#" class="list-group-item active">New Release</a>
                                                        <a href="#" class="list-group-item">Trending</a>
                                                        <a href="#" class="list-group-item">Recommended</a>
                                                        <a href="#" class="list-group-item">BookWorm Best Read</a>
                                                        <a href="#" class="list-group-item">Popular Series</a>
                                                        <a href="#" class="list-group-item">Award Winner</a>

                                                        <a href="#" class="list-group-item">Special Offer</a>
                                                        <a href="#" class="list-group-item">Adventure</a>
                                                        <a href="#" class="list-group-item">Exam Preparation</a>
                                                        <a href="#" class="list-group-item">Horror</a>
                                                        <a href="#" class="list-group-item">History</a>
                                                        <a href="#" class="list-group-item">Law</a>
                                                </div>
                                        </div>
                                        
                                        <div>
                                                <div class="col-sm-10">
                                                        <div class="row" >
                                                                        <div class="col-sm-3" *ngFor="let product of allProducts">

                                                                                <div class="card" style="width:200px">
                                                                                        <img class="card-img-top m-auto"
                                                                                                src="assets/audiobook1.png"
                                                                                                alt="Card image" style="width:50%">
                                                                                        <div class="card-body">
                                                                                                <h6>{{product.title}}</h6>
                                                                                                <h6 style="color: darkcyan">Price : {{product.price}}
                                                                                                </h6>
                                                                                                <!-- <h5 class="card-title">The girl in room_105</h5> -->
                                                                                                <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                                                                                                <button type="button" a href="#"
                                                                                                        class="btn btn-secondary  btn-sm"
                                                                                                        style="margin-right: 10%">Add to
                                                                                                        Cart</button>
                                                                                                <button type="button" a href="#"
                                                                                                        class="btn btn-success  btn-sm">Rent</button>
                                                                                        </div>
                
                                                                                </div>
                
                                                                        </div>
                                                        </div>
                                                        
                                                </div>
                                        </div>

                                        <div class="col-sm-9">

                                                <div class="row">
                                                        <div class="col-sm-3">

                                                                <div class="card" style="width:200px">
                                                                        <img class="card-img-top m-auto"
                                                                                src="assets/audiobook1.png"
                                                                                alt="Card image" style="width:50%">
                                                                        <div class="card-body">
                                                                                <h6>The Girl In Room 105</h6>
                                                                                <h6 style="color: darkcyan">Price : $60
                                                                                </h6>
                                                                                <!-- <h5 class="card-title">The girl in room_105</h5> -->
                                                                                <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                                                                                <button type="button" a href="#"
                                                                                        class="btn btn-secondary  btn-sm"
                                                                                        style="margin-right: 10%">Add to
                                                                                        Cart</button>
                                                                                <button type="button" a href="#"
                                                                                        class="btn btn-success  btn-sm">Rent</button>
                                                                        </div>

                                                                </div>

                                                        </div>
                                                        <div class="col-sm-3">

                                                                <div class="card" style="width:200px">
                                                                        <img class="card-img-top m-auto"
                                                                                src="assets/audiobook2.jpg"
                                                                                alt="Card image" style="width:50%">
                                                                        <div class="card-body">
                                                                                <h6>One Indian Girl</h6>
                                                                                <h6 style="color: darkcyan">Price : $70
                                                                                </h6>
                                                                                <!-- <h5 class="card-title">One Indian Girl</h5> -->
                                                                                <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                                                                                <button type="button" a href="#"
                                                                                        class="btn btn-secondary  btn-sm"
                                                                                        style="margin-right: 10%">Add to
                                                                                        Cart</button>
                                                                                <button type="button" a href="#"
                                                                                        class="btn btn-success  btn-sm">Rent</button>
                                                                        </div>

                                                                </div>

                                                        </div>

                                                        <div class="col-sm-3">

                                                                <div class="card" style="width:200px">
                                                                        <img class="card-img-top m-auto"
                                                                                src="assets/audiobook3.jpg"
                                                                                alt="Card image" style="width:50%">
                                                                        <div class="card-body">
                                                                                <h6>2 States</h6>
                                                                                <h6 style="color: darkcyan">Price : $40
                                                                                </h6>
                                                                                <!-- <h5 class="card-title">2 states Love_Story</h5> -->
                                                                                <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                                                                                <button type="button" a href="#"
                                                                                        class="btn btn-secondary  btn-sm"
                                                                                        style="margin-right: 10%">Add to
                                                                                        Cart</button>
                                                                                <button type="button" a href="#"
                                                                                        class="btn btn-success  btn-sm">Rent</button>


                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>

                                                <br>

                                                <div class="row">

                                                        <div class="col-sm-3">

                                                                <div class="card" style="width:200px">
                                                                        <img class="card-img-top m-auto"
                                                                                src="assets/audiobook1.png"
                                                                                alt="Card image" style="width:50%">
                                                                        <div class="card-body">
                                                                                <h6>The Girl In Room 105</h6>
                                                                                <h6 style="color: darkcyan">Price : $55
                                                                                </h6>
                                                                                <!-- <h5 class="card-title">The girl in room_105</h5> -->
                                                                                <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                                                                                <button type="button" a href="#"
                                                                                        class="btn btn-secondary  btn-sm"
                                                                                        style="margin-right: 10%">Add to
                                                                                        Cart</button>
                                                                                <button type="button" a href="#"
                                                                                        class="btn btn-success  btn-sm">Rent</button>
                                                                        </div>

                                                                </div>

                                                        </div>

                                                        <div class="col-sm-3">

                                                                <div class="card" style="width:200px">
                                                                        <img class="card-img-top m-auto"
                                                                                src="assets/audiobook2.jpg"
                                                                                alt="Card image" style="width:50%">
                                                                        <div class="card-body">
                                                                                <h6>One Indian Girl</h6>
                                                                                <h6 style="color: darkcyan">Price : $60
                                                                                </h6>
                                                                                <!-- <h5 class="card-title">The Indian Girl</h5> -->
                                                                                <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                                                                                <button type="button" a href="#"
                                                                                        class="btn btn-secondary  btn-sm"
                                                                                        style="margin-right: 10%">Add to
                                                                                        Cart</button>
                                                                                <button type="button" a href="#"
                                                                                        class="btn btn-success  btn-sm">Rent</button>
                                                                        </div>

                                                                </div>

                                                        </div>

                                                        <div class="col-sm-3">

                                                                <div class="card" style="width:200px">
                                                                        <img class="card-img-top m-auto"
                                                                                src="assets/audiobook3.jpg"
                                                                                alt="Card image" style="width:50%">
                                                                        <div class="card-body">
                                                                                <h6>2 States</h6>
                                                                                <h6 style="color: darkcyan">Price : $50
                                                                                </h6>
                                                                                <!-- <h5 class="card-title">2 States Love_Story</h5> -->
                                                                                <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                                                                                <button type="button" a href="#"
                                                                                        class="btn btn-secondary  btn-sm"
                                                                                        style="margin-right: 10%">Add to
                                                                                        Cart</button>
                                                                                <button type="button" a href="#"
                                                                                        class="btn btn-success  btn-sm">Rent</button>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>

                                                <br>


                                                <div class="row">
                                                        <div class="col-sm-3">

                                                                <div class="card" style="width:200px">
                                                                        <img class="card-img-top m-auto"
                                                                                src="assets/audiobook1.png"
                                                                                alt="Card image" style="width:50%">
                                                                        <div class="card-body">
                                                                                <h6>The Girl In Room 105</h6>
                                                                                <h6 style="color: darkcyan">Price : $80
                                                                                </h6>
                                                                                <!-- <h5 class="card-title">2 States Love_Story</h5> -->
                                                                                <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                                                                                <button type="button" a href="#"
                                                                                        class="btn btn-secondary  btn-sm"
                                                                                        style="margin-right: 10%">Add to
                                                                                        Cart</button>
                                                                                <button type="button" a href="#"
                                                                                        class="btn btn-success  btn-sm">Rent</button>
                                                                        </div>

                                                                </div>

                                                        </div>

                                                        <div class="col-sm-3">

                                                                <div class="card" style="width:200px">
                                                                        <img class="card-img-top m-auto"
                                                                                src="assets/audiobook2.jpg"
                                                                                alt="Card image" style="width:50%">
                                                                        <div class="card-body">
                                                                                <h6>One Indian Girl</h6>
                                                                                <h6 style="color: darkcyan">Price : $50
                                                                                </h6>
                                                                                <!-- <h5 class="card-title">2 States Love_Story</h5> -->
                                                                                <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                                                                                <button type="button" a href="#"
                                                                                        class="btn btn-secondary  btn-sm"
                                                                                        style="margin-right: 10%">Add to
                                                                                        Cart</button>
                                                                                <button type="button" a href="#"
                                                                                        class="btn btn-success  btn-sm">Rent</button>
                                                                        </div>

                                                                </div>

                                                        </div>

                                                        <div class="col-sm-3">

                                                                <div class="card" style="width:200px">
                                                                        <img class="card-img-top m-auto"
                                                                                src="assets/audiobook3.jpg"
                                                                                alt="Card image" style="width:50%">
                                                                        <div class="card-body">
                                                                                <h6>2 States</h6>
                                                                                <h6 style="color: darkcyan">Price : $70
                                                                                </h6>
                                                                                <!-- <h5 class="card-title">2 States Love_Story</h5> -->
                                                                                <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                                                                                <button type="button" a href="#"
                                                                                        class="btn btn-secondary  btn-sm"
                                                                                        style="margin-right: 10%">Add to
                                                                                        Cart</button>
                                                                                <button type="button" a href="#"
                                                                                        class="btn btn-success  btn-sm">Rent</button>
                                                                        </div>

                                                                </div>

                                                        </div>
                                                </div>


                                        </div>
                                </div>

                        </div>

                </div>
        </div>