<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><b>BOOKWORM</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="font-family: 'Times New Roman', Times, serif" style="font-weight: bold" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#" routerLink = "/b">E-Books</a>
        <!-- <a routerLink='b'>Ebook</a> -->
      </li>

      <li class="nav-item">
          <a class="nav-link" href="#">Audio</a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="#">Video</a>
          </li>

      <li class="nav-item">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
       <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button type="button" class="btn btn-success btn-sm ml-2">Search</button>
    <!--  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
    
    <!-- <button type="button" class="btn btn-secondary btn-sm ml-3" routerLink='d'>Login</button> -->



    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Login Information</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="UserName"><strong>Username</strong></label>
              <div class="input-group">
               <input #username id="name" class="form-control" placeholder="Username" name="dp">
                <div class="input-group-append">
                <!-- Password:<input id="pass" class="form-control" placeholder="Password" name="pas">  
                   <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" 
                  type="button"></button> -->
                </div>
              </div>
    
    
              <div class="form-group mt-4">
                    <label for="Password">Password</label>
                    <div class="input-group">
                      <input #password type="password" id="pass" class="form-control" placeholder="Password" name="pass">
                      <div class="input-group-append">
                        <!-- <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button> -->
                      </div>
                    </div>
                  </div> 
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" style="margin-right: 40%" (click)="modal.close(username, password)">
              Submit</button>
        </div>
      </ng-template>
      
      <button class="btn btn-info btn-sm ml-3" (click)="open(content)">Login</button> 

      <button type="button" class="btn btn-dark btn-sm ml-3" [routerLink]="['/cart']" routerLinkActive="router-link-active" >
          cart <span class="badge badge-light">{{cartCount}}</span>
        </button>
      
      <hr>
      
      <pre>{{closeResult}}</pre>






    <button type="button" class="btn btn-danger btn-sm ml-2" [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</button>
    </form>
  </div>
</nav>
<br>