<app-header></app-header>
<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card shadow p-4 mb-4 bg-white" style="width:350px">
              
            <!-- <div class="card-body">
              <!-- <h3 class="card-title text-dark m-auto" style="font-family: 'Times New Roman', Times, serif" >{{product.title}}</h3>
            </div> -->
            <img class="card-img-bottom"  src="{{product.imagePath}}" alt="Card image">
          </div>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-7 shadow p-4 mb-4 bg-white">
        <div class="container ">
             <div  class="card img-fluid" style="width:500px">
               <div class="card-img-overlay">
                 <h5 class="card-title text-dark">{{product.shortDescription}}</h5>
                 <p class="card-text">{{product.longDescription}}</p>


                    <h5 style="color: darkcyan">Price : ₹{{product.price}}</h5>
                    <button type="button" class="btn btn-success" (click)="addToCart()">Add To Cart</button>
               </div>
             </div>
           </div>
        </div>
    </div>
  </div>

  <br>

  <h5 style="text-align: center">Recommended Books</h5>

  <br>

  <div class="row mx-md-n5">

  <div class="col px-md-5"><div class="p-3 border bg-light">

  <app-related-products></app-related-products>

  </div>
  </div>

  </div>